* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, .main {
    height: 100%;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #3A3A3A;

}

a:active {
    /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
    outline: none;
}

@media screen and (max-width: 1024px) {
    a {
        font-size: 3rem;
    }

    .nav-top-ul a {
        font-size: 3rem;
    }

    .list a {
        font-size: 3rem;
    }
}

@media screen and (max-width: 750px) {
    a {
        font-size: 2rem;
    }

    .nav-top-ul a {
        font-size: 2rem;
    }

    .list a {
        font-size: 1.75rem;
    }

}

@media screen and (max-width: 375px) {
    a {
        font-size: 1.7rem;
    }

    .nav-top-ul a {
        font-size: 1.7rem;
    }

    .list a {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 320px) {
    a {
        font-size: 1.5rem;
    }

    .nav-top-ul a {
        font-size: 1.75rem;
    }

    .list a {
        font-size: 1rem;
    }

}

@media screen and (max-width: 280px) {
    a {
        font-size: 1rem;
    }

    .nav-top-ul a {
        font-size: 1rem;
    }

    .list a {
        font-size: 1rem;
    }
}

#header, #footer {
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color: #D63A2D;
    z-index: 5;
}

#header {
    left: 0;
    top: 0;
}

#footer {
    bottom: 0;
    left: 0;
    background: #35312E
}

.header-box {
    margin: 0 auto;
    width: 95%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mai img {
    width: 100%;
}

.maid img {
    width: 100%;
}

.mai {
    width: 3rem;
    height: 4rem;
}

.maid {
    margin-top: 1rem;

}

.header-input input {
    width: 70%;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.header-input {
    width: 75%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    overflow: hidden;
}

.sou {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 3.5rem;
    height: 3rem;
}

.main {
    /*background: #2e90ff;*/
}

.box {
    margin-top: 10rem;
    margin-bottom: 0;
}

.nav {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #F3F3F5;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 2px;
}

.nav-ul li {
    margin: 1rem 0;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.nav-ul li img {
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.bor {
    border-bottom: 1px solid #F1F1F3;
}

.borb {
    border-bottom: 1px solid #F1F1F3;
}

.borr {
    border-right: 1px solid #E9E9EB
}

.bort {
    border-top: 1px solid #E9E9EB
}

.borl {
    border-left: 1px solid #E9E9EB
}

.nav-top {
    position: fixed;
    left: 0;
    top: 6rem;
    width: 100%;
    height: 4rem;
    background-color: #F8F8FA;
}

.nav-top-ul {
    width: 95%;
    margin: 0 auto;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 2px;
}

.nav-top-ul a {
    font-family: "微软雅黑";
    font-weight: bold;
    line-height: 4rem;
    padding: 0 0.5rem;
}

.nav-top-ul li:hover {
    border-bottom: 2px solid #D63A2D;
}

.nav-top-ul li a:hover {
    color: #D63A2D;;
}

.active-nav {
    border-bottom: 2px solid #D63A2D;
}

.active-nav a {
    color: #D63A2D;
}

/*banner*/
.banner {
    width: 100%;
    /*background-color: #0BC20B;*/
}

.banner img {
    width: 100%;
    vertical-align: bottom;
}

.tui, .du {
    padding: 1rem 0;
    width: 100%;
    background: #fff;
}

.p-top {
    border-left: 1px solid red;
    padding-left: 1rem;
    font-size: 1.7rem;
}

.tui-ul a, .du-ul a {
    font-size: 1.5rem;
}

.tui-ul, .du-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tui-ul li {
    margin-top: 1rem;
    width: 32.5%;
}

.qu {
    width: 100%;
    margin-top: 1rem;
}

.tui-ul img, .qu img, .du-ul img {
    width: 100%;
}

.tui-ul p, .qu p, .du-ul p {
    padding-left: 0.5rem;
}

.du-ul li {
    margin-top: 1rem;
    width: 49%;
}

.zhuan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F1F1F3;
}

.zhuan p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0.5rem;

}

.zhuan:nth-child(1) {
    margin-top: 1rem
}

.zhuan p:nth-child(2) {
    margin-top: 1rem;
    color: #A3A3A4;
}

.lt {
    width: 55%;
}

.rt img {
    width: 100%;
}

.rt {
    width: 40%;
}

.fen-top{
    margin-top: 1rem;
}

.yun-ul li:first-child{    margin-top: 1rem;
}
.yun-ul li span{
    padding-left: 1rem;
    color: #A8A8AA;
}
.yun-ul li{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F1F1F3;
}
.t-left img{
    width: 100%;
    vertical-align:bottom;
}
.t-left{
    width: 30%;
}
.t-right p{
    font-size: 1.7rem;
    color: #6C6C6C;
  line-height: 3rem;

}
.t-right{
    width: 65%;
}






